soap-client/src/main/resources/wsdl/customer-service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.kiran.com/xml" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="com.test.customer" targetNamespace="com.test.customer">
  <wsdl:types>
    <xs:schema xmlns:cu="http://www.kiran.com/xml" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.kiran.com/xml">


	<xs:element name="customerResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string"/>
				<xs:element name="address" type="xs:string"/>
				<xs:element name="age" type="xs:int"/>
				<xs:element name="id" type="xs:int"/>

			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="customerRequest">
		<xs:complexType>

			<xs:sequence>

				<xs:element name="id" type="xs:int"/>

			</xs:sequence>
		</xs:complexType>

	</xs:element>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="customerResponse">
    <wsdl:part element="sch:customerResponse" name="customerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="customerRequest">
    <wsdl:part element="sch:customerRequest" name="customerRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CustomerPort">
    <wsdl:operation name="customer">
      <wsdl:input message="tns:customerRequest" name="customerRequest">
    </wsdl:input>
      <wsdl:output message="tns:customerResponse" name="customerResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerPortSoap11" type="tns:CustomerPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="customer">
      <soap:operation soapAction=""/>
      <wsdl:input name="customerRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="customerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerPortService">
    <wsdl:port binding="tns:CustomerPortSoap11" name="CustomerPortSoap11">
      <soap:address location="http://localhost:8080/service/customer"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>