soap-example/src/main/resources/customer.xsd

<?xml version = "1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:cu="http://www.kiran.com/xml"
	targetNamespace="http://www.kiran.com/xml"
	elementFormDefault="qualified">


	<xs:element name="customerResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" />
				<xs:element name="address" type="xs:string" />
				<xs:element name="age" type="xs:int" />
				<xs:element name="id" type="xs:int" />

			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="customerRequest">
		<xs:complexType>

			<xs:sequence>

				<xs:element name="id" type="xs:int" />

			</xs:sequence>
		</xs:complexType>

	</xs:element>

</xs:schema>

